.required {
    color: red;
    margin-left: 2px;
    font-size: 0.8rem;
    font-weight: bold;
}

option {
    background-color: var(--search-bg);
    color: var(--search-color);
}

.dropdown {
    border: 0.01rem solid #cdcdcd;
    background-color: var(--search-bg);
    color: var(--search-color);
}


.dropdown:focus {
    border-color: #221111;
}

select {
    padding: 0.6rem 0.7rem;
    border-radius: 6px;
    width: 100%;
    font-size: 0.75rem;
    outline: none;

}

.xlarge {
    width: 100%;
}

.large {
    width: 75%;
}

.medium {
    width: 50%;
    min-width: 10rem;
}

.small {
    /*padding: 0.5rem 0.8rem;*/
    width: 45%;
}

.xsmall {
    width: 35%;
}

.small > select{
    height: 2.1rem;
}

.xsmall > select{
    height: 2.1rem;
}

span {
    font-size: 0.8rem;
}

.dropdownBtnDiv {
    cursor: pointer;
}

.dropdownBtn {
    border: 1px solid gray;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 0.5rem;

}


.dropdownOptions {
    border: 1px solid var(--tertiary);
    border-radius: 0.5rem;
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    position: absolute;        /* Make it float above other elements */
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 9999;             /* Ensure it’s above other elements */
}

/* When visible */
.dropdownShow {
    max-height: 500px;
    opacity: 1;
}

/* Your existing icon styles */
.icon {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
    font-size: 0.85rem;

}

.iconR {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    font-size: 0.85rem;
}

.dropdownOptions li {
    cursor: pointer;
}

.dropdownOptions li:hover {
    background-color: var(--li-hover);
}


@media screen and (max-width: 550px) {
    .medium {
        min-width: 6rem;
    }
    .dropdownBtn {
        height: 1.8rem;
        font-size: 0.75rem;
        padding: 0rem 0.5rem;
    }
    .icon {
        font-size: 0.65rem;
    }

    .iconR {
        font-size: 0.65rem;
    }
    .dropdownOptions li {
        font-size: 0.65rem;
    }
}