.navBar {
  padding-block: 0.75rem;
  padding-inline: 3rem;
  border-bottom: 2px solid var(--hr-color) ;
  /* background-color: rgb(0, 0, 0); */
}

.userNavBar {
  padding-block: 0.75rem;
  padding-inline: 5rem;
  border-bottom: 2px solid var(--hr-color) ;
}

.nav {
  /* background-color: rgb(2, 91, 91); */
}

.navLinks {
  font-weight: 600;
  direction: rtl;
}


.navItem {
  text-decoration: none;
  font-size: 1.2rem !important;
  color: var(--primary) !important;
}

.navItemDark {
  text-decoration: none;
  font-size: 1.2rem !important;
  color: #d9d9d9 !important;
}


.navItem a{
  font-size: 1.2rem !important;
  color: var(--primary) !important;
}

.navbarNav {
  gap: 1.5rem;
}

.navItemDark a{
  font-size: 1.2rem !important;
  color: #d9d9d9 !important;
}

.navBrand {
  width: 75%;
  display: flex;
  align-items: center;
  height: 5rem;
}


.navIcons {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content:end;
  gap: 1.5rem
}

.logoImg {
  width: 5rem;
}

.logoTextImg {
  width: 10rem;
  height: 2rem;
  margin-top: 1.5rem;
}

.logoTextImg.dark {
  object-fit: cover;
  direction: ltr;
  width: 18rem;
  position: relative;
  right: 55px;
}

.bootstrapNav {
  padding-block: 8px;
}

.logoutBtnAdmin {
  color: var(--nav-text)!important;
}

.navDropDown {
  display: none;
  width: 10rem;
  background-color: var(--bg-color);
  border: 1.5px solid var(--hr-color) ;
  border-radius: 0.5rem;
  list-style: unset;
  z-index: 999;
}

.navDropDownOther {
  display: none;
  width: 10rem;
  background-color: var(--bg-color);
  border: 1.5px solid var(--hr-color) ;
  border-radius: 0.5rem;
  list-style: unset;
  z-index: 999;
}


.storeIcon {
  font-size: 1.5rem;
}

.modeIcon {
  font-size: 1.5rem;
}


.dropDownItemLi {
  padding-inline: 1rem;
}

.dropDownItem {
  font-weight: 500;
  direction: rtl;
  text-decoration: none;
}

.dropDownItemLi:hover {
  width: 100%;
  cursor: pointer;
  background-color: var(--li-hover);
  border-radius: 0.2rem;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  font-size: 0.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  top: -6px;
  right: -6px;
}

.badgeLight {
  background-color: var(--primary);
  color: #d9d9d9;
}

.badgeDark {
  background-color: #d9d9d9;
  color: var(--primary);
}

.profileBorder {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.personIconNavBar {
  color: var(--nav-text);
  font-size: 2rem;
  cursor: pointer;
}

.navItemLinks:hover .navDropDown {
  display: block;
}

.navItemOther:hover .navDropDownOther {
  display: block;
}




.loginLink {
  color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 4px 0;
  transition: 0.25s ease;

}

.loginLink:hover {
  border-bottom: 2px solid var(--primary);
}






.loginBtnFilled {
  background: var(--primary);
  color: white !important;
  padding: 7px 16px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.95rem;
  transition: 0.3s;
  text-decoration: none;
  text-wrap: nowrap;
}



.loginBtnFilled:hover {
  opacity: 0.85;
}

.darkLogin {
  background: #ffffff;
  color: #222 !important;
}

@media screen and (max-width: 990px) {

  .navbarNav {
    gap: 0rem;
  }
}

@media screen and (max-width: 770px) {
  .userNavBar {
    padding-inline: 1.5rem;
  }
}


@media screen and (max-width: 550px) {
  .userNavBar {
    padding-inline: 1.5rem;
  }
  .navBar {
    padding-inline: 1.5rem;
  }
  .logoImg {
    width: 3rem;
  }
  .logoTextImg {
    width: 8rem;
    height: 1.5rem;
  }
  .logoTextImg {
    margin-top: 0.5rem;
  }
  .navBrand {
    height: 3rem;
  }
  .storeIcon {
    font-size: 1rem;
  }
  .modeIcon {
    font-size: 1rem;
  }
  .bootstrapNav {
    padding-block: 0px !important;
  }
  .navbarToggler {
    padding: 0.1rem 0.2rem !important;
    border-color: white !important;
  }
  .navbarTogglerIcon {
    font-size: 0.75rem !important;
  }
  .personIconNavBar {
    font-size: 1.45rem;
  }
  .loginBtnFilled {
    padding: 4px 12px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 0.75rem;
    transition: 0.3s;
    text-decoration: none;
    text-wrap: nowrap;
  }
  .navIcons {
    gap: 0.15rem;
  }
  .navItem {
    font-size: 0.85rem !important;
  }

  .navItemDark {
    font-size: 0.85rem !important;
  }


  .navItem a{
    font-size: 0.85rem !important;
  }


  .navItemDark a{
    font-size: 0.85rem !important;
  }
}

