body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-rgb: 104,49,11;
  --secondary-rgb: 124,193,77;
  
  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(var(--secondary-rgb));
  --tertiary: rgb(var(--secondary-rgb),0.2);


  --bs-link-color: red !important;
  --bs-btn-color: red !important;
}