.homePageMainContentDiv {
  padding: 1.5rem;
  padding-inline: 5rem;
}

.homePageMainPic {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 1px solid var(--tertiary);

}

.categories {
  position: relative;
}
