.container {
    padding: 4rem;
    padding-inline: 3.5rem;
}


.tabs {
    width: fit-content !important;
    display: flex;
    padding: 5px;
    background-color: var(--tabs-bg);
    border-radius: 2px!important;

}

.navLink {
    color: black;
    padding: 0.3rem 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 2px!important;
}



.navLink:hover,
.navLink:focus {
    background-color: #ffffff !important; /* Change this to your desired hover color */
    color: black !important; /* Optional: text color */
    border-color: transparent; /* Optional: no border on hover */
    outline: none;
    box-shadow: none;
}

.navLink.active {
    background-color: #212529 !important; /* active background */
    color: #fff !important;
}




.navLinkDark:hover,
.navLinkDark:focus {
    background-color: #122929 !important; /* Change this to your desired hover color */
    color: #d9d9d9 !important; /* Optional: text color */
    border-color: transparent; /* Optional: no border on hover */
    outline: none;
    box-shadow: none;
}


.navLinkDark.active {
    background-color: #212529 !important; /* active background */
    color: #fff !important;
}


.nav-pills .nav-linkDark:hover,
.nav-pills .nav-linkDark:focus {
    background-color: #343a40 !important;
    color: #fff !important;
    outline: none;
    box-shadow: none;
}

.navLinkDark {
    border-radius: 2px!important;
    color: #d9d9d9;
    padding: 0.3rem 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.scrollWrapper {
    width: 100%;
    overflow-x: auto;         /* enable horizontal scroll */
    -webkit-overflow-scrolling: touch; /* smooth scrolling on mobile */
}

.mainContentDiv {
    min-width: 900px; /* adjust based on your columns */
}


.contents h6{
    color: #b3b3b3;
}

.productsTab {
   margin-top: 5rem;
   font-weight: 600;
}

.contents {
    border-bottom: 4px solid #ededed;;
}

/*.navItemsDiv {*/
/*    display: flex;*/
/*}*/


.addDiv {
    max-height: 43.5px;
    justify-content: flex-end;
}

@media screen and (max-width: 1260px) {
    .addDiv {
        margin-top: 1rem;
        /*width:45%;*/
    }
}

@media screen and (max-width: 800px) {
    .navItemsDiv {
        gap: 1rem;
        flex-direction: column;
    }
    .addDiv {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
    }
    .container {
        padding: 1rem;
        padding-inline: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .addDiv {
        flex-direction: column;
        margin-bottom: 2.5rem;
    }
    .scrollWrapper {
        margin-top: 1.5rem;
    }
}