.icon {
    width: 65%;
    height: 30rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 5px solid rgba(var(--secondary-rgb), 0.2) ;
}

.loginPage {
    height: 90vh;
}