.container {
    padding: 5rem;
    padding-inline: 5.5rem;
}

.tabs {
    width: fit-content !important;
    display: flex;
    border-radius: 5px;
    background-color: rgba(228, 228, 228, 0.85);
}

.navItem button {
    width: 8rem!important;
}

/*.nav-link:focus,*/
/*.nav-link.active {*/
/*    background-color: white !important;*/
/*    color: var(--primary) !important;*/
/*    border-color: var(--primary) !important;*/
/*    outline: none !important;*/
/*}*/